Source: open-webui-tools
Section: web
Priority: optional
Maintainer: Sebastien GALLET <bibi21000@gmail.com>
Build-Depends: debhelper-compat (= 12), dh-python, python3-venv,
 python3-setuptools, python3-wheel,
 python3:any | python3-dev:any | python3-all:any | python3-all-dev:any
Standards-Version: 4.6.0
Homepage: https://github.com/bibi21000/open-webui-tools
Vcs-Browser: https://github.com/bibi21000/open-webui-tools
Vcs-Git: https://github.com/bibi21000/open-webui-tools.git
Rules-Requires-Root: no

Package: open-webui-common
Architecture: all
Depends: ${misc:Depends}, python3-click, python3-requests,
 python3-venv, python3-setuptools, python3-wheel, python3:any
Description: Common files for open-webui
 The common files used by other packages.

Package: open-webui-docker
Architecture: all
Depends: ${misc:Depends}, open-webui-common, ca-certificates, curl,
 gnupg2, jq
Conflicts: docker.io, docker-compose, docker-compose-v2, docker-doc,
 podman-docker
Description: Install docker and nvidia APT sources lists

Package: open-webui-app
Architecture: all
Depends: ${misc:Depends}, open-webui-docker, docker-ce, docker-ce-cli,
 containerd.io, docker-buildx-plugin, docker-compose-plugin,
 postgresql-client, nvidia-container-toolkit
Recommends: open-webui-postgresql, open-webui-ollama
Description: Open WebUI app
 Download image of Open WebUI and install startup scripts.

Package: open-webui-postgresql
Architecture: all
Depends: ${misc:Depends}, open-webui-docker, docker-ce, docker-ce-cli,
 containerd.io, docker-buildx-plugin, docker-compose-plugin,
 postgresql-client
Description: Postgresql docker stuff
 Download image of Postgresql (with vector extension) and install startup scripts.

Package: open-webui-samba
Architecture: all
Depends: ${misc:Depends}, open-webui-app, open-webui-docker, docker-ce,
 docker-ce-cli, containerd.io, docker-buildx-plugin, docker-compose-plugin
Description: Samba stuff
 Download Samba docker image and install startup scripts

Package: open-webui-ollama
Architecture: all
Depends: ${misc:Depends}, open-webui-docker, docker-ce, docker-ce-cli,
 containerd.io, docker-buildx-plugin, docker-compose-plugin,
 nvidia-container-toolkit
Description: Ollama docker stuff
 Download image of Ollama and install startup scripts.

Package: open-webui-docling
Architecture: all
Depends: ${misc:Depends}, open-webui-docker, docker-ce, docker-ce-cli,
 containerd.io, docker-buildx-plugin, docker-compose-plugin,
 nvidia-container-toolkit
Description: Docling docker stuff
 Download image of docling and install startup scripts.

Package: open-webui
Architecture: all
Depends: ${misc:Depends}, open-webui-ollama, open-webui-postgresql,
 open-webui-app
Description: Install Open WebUI main components
 Install Open WebUI main components

Package: open-webui-deps
Architecture: all
Depends: ${misc:Depends}, open-webui-docker
Description: Installs dependencies.
 Must be installed separately before installing other packages.

Package: open-webui-caddy
Architecture: all
Depends: ${misc:Depends}, open-webui-docker, docker-ce, docker-ce-cli,
 containerd.io, docker-buildx-plugin, docker-compose-plugin
Description: Caddy docker stuff
 Download image of Caddy (http/https frontend) and install startup scripts.

Package: open-webui-glances
Architecture: all
Depends: ${misc:Depends}, open-webui-docker, docker-ce, docker-ce-cli,
 containerd.io, docker-buildx-plugin, docker-compose-plugin
Description: Glances docker stuff
 Glances allows you to remotely monitor system resources of host
