[Unit]
Description=Update Open WebUI Docker Container
# Only start after Docker is ready
After=docker.service
Requires=docker.service
# Wait for network to be available
After=network-online.target

[Service]
Type=oneshot

EnvironmentFile=/etc/open-webui/open-webui-app.conf
EnvironmentFile=/etc/default/open-webui
EnvironmentFile=-/etc/open-webui/open-webui-local.conf

ExecStart=/usr/lib/open-webui-tools/owebui_docker_update ${OWEBUI_IMAGE} app ${APP_IMAGE_LARGE}

[Install]
WantedBy=multi-user.target
