[Unit]
Description=Update Caddy Docker Container
# Only start after Docker is ready
After=docker.service
Requires=docker.service
# Wait for network to be available
After=network-online.target

[Service]
Type=oneshot

EnvironmentFile=/etc/default/open_webui
EnvironmentFile=/etc/open-webui/open-webui-caddy.conf

ExecStart=/usr/lib/open-webui-tools/owebui_docker_update ${CADDY_IMAGE} open-webui-caddy

[Install]
WantedBy=multi-user.target
